<div style="padding: 40px 0px 0px 0px; background-color:#378bc1">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/cocktails">Cocktails</a></li>
    <li style="background-color:#ebf4f9; border-radius:4px 4px 0 0"><a href="/ingredients">Ingredients</a></li>
  </ul>

  <div class="tab-content" style="padding: 20px; background-color:#fff; border-top: solid 1px #ebf4f9">
    <div id="cocktailList" class="tab-pane fade-in fade in active">
      <div class="list-group">
        <% @cocktails.each do |cocktail| %>
          <a href="cocktails/<%= cocktail.id %>" class="list-group-item" style="height:120px">
            <img src="<%= cocktail.img %>" alt="<%= cocktail.name %>" width="100px" height="100px" style="float:left"/>
            <div class="list-group-item-heading"
                 style="float:left; padding: 30px 0px 0px 10px;">
              <h4><%= cocktail.name %></h4>
            </div>
          </a>
        <% end %>

        <a href="/cocktails/new" class="list-group-item" style="height:120px">
          <img src="/imgs/plus.png" alt="plus" width="100px" height="100px" style="float:left"/>
        </a>
      </div>
    </div>
  </div>
</div>