<% content_for :head do %>
  <script src="/js/share.js"></script>
<% end %>
<%= render 'layouts/userbar', user: @auth_user %>
<div class="ct-index page">
  <div id="cocktailList" class="tab-pane fade-in fade in active">
    <div class="list-group">
      <% @cocktails.each do |ct| %>
        <%= render 'cocktails/cocktail', ct: ct %>
      <% end %>

      <a href="/cocktails/new" class="list-group-item ct-index new">
        <img src="/imgs/plus.png" alt="plus" class="ct-index new-img"/>
      </a>
    </div>
  </div>
</div>
<script>
    $(".share").click(function (e) {
        if (e.target.tagName === "INPUT") {
            e.preventDefault();

            var btn = $("input[type='button'][name='" + e.target.name + "']");
            btn.click();
        }
    });
</script>