<%= render 'layouts/userbar', user: @user %>
<div class="ct-index page">
  <div id="cocktailList" class="tab-pane fade-in fade in active">
    <div class="list-group">
      <% @cocktails.each do |ct| %>
        <%= render 'cocktails/cocktail', ct: ct %>
      <% end %>

      <a href="/cocktails/new" class="list-group-item ct-index new">
        <img src="/imgs/plus.png" alt="plus" class="ct-index new-img"/>
      </a>
    </div>
  </div>
</div>
<script>
    $(".share").click(function (e) {
        if (e.target.tagName === "INPUT") {
            e.preventDefault();

            var btn = $("input[type='button'][name='" + e.target.name + "']");
            btn.click();
        }
    });

    function share_it(id, path) {
        var username = prompt("Share with");
        $.ajax({
            type: 'POST',
            data: {
                authenticity_token: "<%= form_authenticity_token %>",
                id: id,
                username_to: username
            },
            dataType: 'json',
            url: path,
            success: function (res) {
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }
</script>