<%= render 'layouts/userbar', user: @user %>

<div class="show profile">
  <img src="<%= @user.img %>" class="show profile-picture">
  <br>
  <strong>Name:</strong>
  <%= @user.name %>
  <br>
  <strong>Email:</strong>
  <%= @user.email %>

  <%#= link_to 'Edit', edit_profile_path(@user) %>
  <%#= link_to 'Back', cocktails_path %>
</div>