<% content_for :head do %>
  <link rel="stylesheet" href="/assets/igredient-partial.css.scss">
<% end %>
<a href="/ingredients/<%= ingr.id %>" class="list-group-item ingr-a">
  <img src="<%= ingr.img %>" alt="<%= ingr.name %>" class="ingr-img"/>
  <h4 class="list-group-item-heading ingr-name"><%= ingr.name %></h4>
</a>