<%= render 'layouts/userbar', user: @auth_user %>

<div class="ingr-edit ingredient">
  <div class="ingr-edit header">Edit::<%= @ingredient.name %></div>

  <%= render 'form', ingredient: @ingredient %>
</div>