<% content_for :head do %>
  <script src="/js/share.js"></script>
<% end %>
<%= render 'layouts/userbar', user: @auth_user %>
<div class="ingr-index page">
  <div id="ingredientList" class="tab-pane fade-in fade in active">
    <div class="list-group">
      <% @ingredients.each do |ingr| %>
        <%= render 'ingredients/ingr-have', ingr: ingr %>
      <% end %>

      <a href="/ingredients/new" class="list-group-item ingr-index new">
        <img src="/imgs/plus.png" alt="plus" class="ingr-index new-img"/>
      </a>
    </div>
  </div>
</div>
<script>
    $(".have").click(function (e) {
        if (e.target.tagName === "INPUT") {
            e.preventDefault();

            var cbox = $("input[type='checkbox'][name='" + e.target.name + "']");
            cbox.prop('checked', cbox.checked);
            cbox.change();
        }
    });

    function check(cb, id, path) {
        $.ajax({
            type: 'POST',
            data: {
                authenticity_token: "<%= form_authenticity_token %>",
                id: id,
                checked: cb.checked
            },
            dataType: 'json',
            url: path,
            success: function (res) {
                cb.checked = !cb.checked;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }
</script>