<%= render 'layouts/userbar', user: @auth_user %>
<div class="ingr-index page">
  <div id="ingredientList" class="tab-pane fade-in fade in active">
    <div class="list-group">
      <% @ingredients.each do |ingr| %>
        <%= render 'ingredients/ingr-have', ingr: ingr %>
      <% end %>

      <a href="/ingredients/new" class="list-group-item ingr-index new">
        <img src="/imgs/plus.png" alt="plus" class="ingr-index new-img"/>
      </a>
    </div>
  </div>
</div>
<script>
    $(".share").click(function (e) {
        if (e.target.tagName === "INPUT") {
            e.preventDefault();

            var btn = $("input[type='button'][name='" + e.target.name + "']");
            btn.click();
        }
    });

    function share_it(id, path) {
        var username = prompt("Share with");
        $.ajax({
            type: 'POST',
            data: {
                authenticity_token: "<%= form_authenticity_token %>",
                id: id,
                username_to: username
            },
            dataType: 'json',
            url: path,
            success: function (res) {
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }
</script>