.ctp-a {
  height: 120px;
}

.ctp-a.missing{
  background-color: #ffe0e0;
}

.ctp-img {
  float: left;
  width: 100px;
  height: 100px;
}

.ctp-name {
  float: left;
  padding: 30px 0 0 10px;
}

.ctp-missing {
  color: #ff6464;
}

.ctp-share {
  float: right;
}