// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea.cocktail-name {
  display: block;
  font-size: 20px;
  resize: none;
}

textarea.cocktail-img {
  display: block;
  font-size: 20px;
  resize: none;
}

// - cocktail.show ---------------------------------------

.ct-show.page {
  background-color: #fff;
  margin: 0 15% 0;
}

.ct-show.header {
  font-size: 30px;
  padding: 80px 10px 10px 20px;
  color: white;
  background-color: #378bc1;
}

.ct-show.cocktail {
  padding: 10px 20px 20px 20px;
  position: relative;
  bottom: 80px;
}

.ct-show.ct-img {
  width: 100px;
  height: 100px;
  float: left;
  border: 4px solid #f2f2f2;
  border-radius: 1px;
}

.ct-show.ct-name {
  float: left;
  padding: 40px 0 0 10px;
  color: white;
}

.ct-show.ct-desc {
  padding: 0 20px 0;
  clear: both;

  p {
    margin: 0 20% 0 0;
  }
}

.ct-show.ct-recipe {
  padding: 20px;

  p {
    margin: 0 20% 0 0;
  }
}

.ct-show.ct-ingrs {
  padding: 20px;
  float: none;
}

// - cocktail.edit ---------------------------------------

.ct-edit.line-textarea {
  display: block;
  font-size: 20px;
  resize: none;
}

.ct-edit.big-textarea {
  margin: 0 20% 0 0;
  resize: none;
}