.ingr-a {
  height: 120px;
}

.ingr-img {
  float: left;
  width: 100px;
  height: 100px;
}

.ingr-name {
  float: left;
  padding: 40px 0 0 10px;
}

.ingr-chbox {
  padding: 50px 50px 50px 50px;
  float: right;
}