.userbar.profile-link {
  color: #f4faff;
  text-decoration: none;
}

.userbar.profile-link:hover {
  color: #f4faff;
  text-decoration: none;
}

.userbar.user-bar {
  background-color: #4267b2;
  border-bottom: solid 1px #3e5192;
}

.userbar.profile {
  float: right;
  padding: 4px;
}

.userbar.profile:hover {
  background-color: #3e5192;
  border-radius: 2px;
}

.userbar.profile-picture {
  border-radius: 2px;
  width: 30px;
  height: 30px
}

.userbar.username {
  margin: 2px;
  font-weight: bold;
}

.userbar.logout {
  float: right;
  padding: 9px 5px 11px 7px;
  margin: 0 15px 0 0;
  font-weight: bold;
}

.userbar.logout:hover {
  background-color: #3e5192;
  border-radius: 2px;
}

.userbar.notifs {
  float: right;
  padding: 8px 7px 7px 7px;
  margin: 2px;
  color: #f4faff;
  font-weight: bold;
}

.userbar.notif-highlight {
  background-color: #3e5192;
  padding: 0 3px;
  border-radius: 3px;
}

.userbar.notif-red {
  background-color: #d70000;
}

.userbar.notif-highlight.notif-red:hover {
  background-color: #ef0000;
}

.userbar.notif-highlight:hover {
  background-color: #323a6f;
}

.userbar.separator {
  float: right;
  padding: 7px;
  margin: 2px;
}

.userbar.page {
  float: left;
  padding: 9px 7px 11px 7px;
  font-weight: bold;
}

.userbar.page-selected{
  float: left;
  padding: 9px 7px 11px 7px;
  font-weight: bold;
  background-color: #3e5192;
}

.userbar.page:hover{
  background-color: #3e5192;
  border-radius: 2px;
}