<div style="background-color: #5bc0de">
  <img src="<%= user.img %>" style="width: 30px; height: 30px" >
  <a href="<%= profile_path(user) %>"><b><%= user.name %></b></a> |
  <%= link_to "Logout", logout_path %>
</div>